
ALTER   PROCEDURE [bronze].[load_bronze] AS
BEGIN
    DECLARE @starttime DATETIME, @endtime DATETIME;

    BEGIN TRY
        TRUNCATE TABLE bronze.constructors;
        SET @starttime = GETDATE();
        BULK INSERT bronze.constructors
        FROM 'C:\Users\deepak\OneDrive\Desktop\F1 PROJECT\f1\constructors.csv'
        WITH (
            FIRSTROW        = 2,
            FIELDTERMINATOR = ',',
            ROWTERMINATOR   = '0x0a',
            TABLOCK
        );
        SET @endtime = GETDATE();
        PRINT CAST(DATEDIFF(SECOND, @starttime, @endtime) AS VARCHAR) + 's';
        SELECT 'brz_constructors' AS table_name, COUNT(*) AS row_count FROM bronze.constructors;

        TRUNCATE TABLE bronze.status;
        SET @starttime = GETDATE();
        BULK INSERT bronze.status
        FROM 'C:\Users\deepak\OneDrive\Desktop\F1 PROJECT\f1\status.csv'
        WITH (
            FIRSTROW        = 2,
            FIELDTERMINATOR = ',',
            ROWTERMINATOR   = '0x0a',
            TABLOCK
        );
        SET @endtime = GETDATE();
        PRINT CAST(DATEDIFF(SECOND, @starttime, @endtime) AS VARCHAR) + 's';
        SELECT 'brz_status' AS table_name, COUNT(*) AS row_count FROM bronze.status;

        TRUNCATE TABLE bronze.seasons;
        SET @starttime = GETDATE();
        BULK INSERT bronze.seasons
        FROM 'C:\Users\deepak\OneDrive\Desktop\F1 PROJECT\f1\seasons.csv'
        WITH (
            FIRSTROW        = 2,
            FIELDTERMINATOR = ',',
            ROWTERMINATOR   = '0x0a',
            TABLOCK
        );
        SET @endtime = GETDATE();
        PRINT  CAST(DATEDIFF(SECOND, @starttime, @endtime) AS VARCHAR) + 's';
        SELECT 'brz_seasons' AS table_name, COUNT(*) AS row_count FROM bronze.seasons;

        TRUNCATE TABLE bronze.races;
        SET @starttime = GETDATE();
        BULK INSERT bronze.races
        FROM 'C:\Users\deepak\OneDrive\Desktop\F1 PROJECT\f1\races.csv'
        WITH (
            FIRSTROW        = 2,
            FIELDTERMINATOR = ',',
            ROWTERMINATOR   = '0x0a',
            TABLOCK
        );
        SET @endtime = GETDATE();
        PRINT + CAST(DATEDIFF(SECOND, @starttime, @endtime) AS VARCHAR) + 's';
        SELECT 'brz_races' AS table_name, COUNT(*) AS row_count FROM bronze.races;

        TRUNCATE TABLE bronze.results;
        SET @starttime = GETDATE();
        BULK INSERT bronze.results
        FROM 'C:\Users\deepak\OneDrive\Desktop\F1 PROJECT\f1\results.csv'
        WITH (
            FIRSTROW        = 2,
            FIELDTERMINATOR = ',',
            ROWTERMINATOR   = '0x0a',
            TABLOCK
        );
        SET @endtime = GETDATE();
        PRINT CAST(DATEDIFF(SECOND, @starttime, @endtime) AS VARCHAR) + 's';
        SELECT 'brz_results' AS table_name, COUNT(*) AS row_count FROM bronze.results;

   
        TRUNCATE TABLE bronze.brz_sprint_results;
        SET @starttime = GETDATE();
        BULK INSERT bronze.brz_sprint_results
        FROM 'C:\Users\deepak\OneDrive\Desktop\F1 PROJECT\f1\sprint_results.csv'
        WITH (
            FIRSTROW        = 2,
            FIELDTERMINATOR = ',',
            ROWTERMINATOR   = '0x0a',
            TABLOCK
        );
        SET @endtime = GETDATE();
        PRINT CAST(DATEDIFF(SECOND, @starttime, @endtime) AS VARCHAR) + 's';
        SELECT 'brz_sprint_results' AS table_name, COUNT(*) AS row_count FROM bronze.brz_sprint_results;

        TRUNCATE TABLE bronze.brz_qualifying;
        SET @starttime = GETDATE();
        BULK INSERT bronze.brz_qualifying
        FROM 'C:\Users\deepak\OneDrive\Desktop\F1 PROJECT\f1\qualifying.csv'
        WITH (
            FIRSTROW        = 2,
            FIELDTERMINATOR = ',',
            ROWTERMINATOR   = '0x0a',
            TABLOCK
        );
        SET @endtime = GETDATE();
        PRINT  CAST(DATEDIFF(SECOND, @starttime, @endtime) AS VARCHAR) + 's';
        SELECT 'brz_qualifying' AS table_name, COUNT(*) AS row_count FROM bronze.brz_qualifying;


        TRUNCATE TABLE bronze.pit_stops;
        SET @starttime = GETDATE();
        BULK INSERT bronze.pit_stops
        FROM 'C:\Users\deepak\OneDrive\Desktop\F1 PROJECT\f1\pit_stops.csv'
        WITH (
            FIRSTROW        = 2,
            FIELDTERMINATOR = ',',
            ROWTERMINATOR   = '0x0a',
            TABLOCK
        );
        SET @endtime = GETDATE();
        PRINT  CAST(DATEDIFF(SECOND, @starttime, @endtime) AS VARCHAR) + 's';
        SELECT 'brz_pit_stops' AS table_name, COUNT(*) AS row_count FROM bronze.pit_stops;

        TRUNCATE TABLE bronze.driver_standings;
        SET @starttime = GETDATE();
        BULK INSERT bronze.driver_standings
        FROM 'C:\Users\deepak\OneDrive\Desktop\F1 PROJECT\f1\driver_standings.csv'
        WITH (
            FIRSTROW        = 2,
            FIELDTERMINATOR = ',',
            ROWTERMINATOR   = '0x0a',
            TABLOCK
        );
        SET @endtime = GETDATE();
        PRINT  CAST(DATEDIFF(SECOND, @starttime, @endtime) AS VARCHAR) + 's';
        SELECT 'brz_driver_standings' AS table_name, COUNT(*) AS row_count FROM bronze.driver_standings;

        TRUNCATE TABLE bronze.constructor_standings;
        SET @starttime = GETDATE();
        BULK INSERT bronze.constructor_standings
        FROM 'C:\Users\deepak\OneDrive\Desktop\F1 PROJECT\f1\constructor_standings.csv'
        WITH (
            FIRSTROW        = 2,
            FIELDTERMINATOR = ',',
            ROWTERMINATOR   = '0x0a',
            TABLOCK
        );
        SET @endtime = GETDATE();
        PRINT CAST(DATEDIFF(SECOND, @starttime, @endtime) AS VARCHAR) + 's';
        SELECT 'brz_constructor_standings' AS table_name, COUNT(*) AS row_count FROM bronze.constructor_standings;

        TRUNCATE TABLE bronze.constructor_results;
        SET @starttime = GETDATE();
        BULK INSERT bronze.constructor_results
        FROM 'C:\Users\deepak\OneDrive\Desktop\F1 PROJECT\f1\constructor_results.csv'
        WITH (
            FIRSTROW        = 2,
            FIELDTERMINATOR = ',',
            ROWTERMINATOR   = '0x0a',
            TABLOCK
        );
        SET @endtime = GETDATE();
        PRINT  CAST(DATEDIFF(SECOND, @starttime, @endtime) AS VARCHAR) + 's';
        SELECT 'brz_constructor_results' AS table_name, COUNT(*) AS row_count FROM bronze.constructor_results;

        TRUNCATE TABLE bronze.lap_times;
        SET @starttime = GETDATE();
        BULK INSERT bronze.lap_times
        FROM 'C:\Users\deepak\OneDrive\Desktop\F1 PROJECT\f1\lap_times.csv'
        WITH (
            FIRSTROW        = 2,
            FIELDTERMINATOR = ',',
            ROWTERMINATOR   = '0x0a',
            TABLOCK
        );
        SET @endtime = GETDATE();
        PRINT  CAST(DATEDIFF(SECOND, @starttime, @endtime) AS VARCHAR) + 's';
        SELECT 'brz_lap_times' AS table_name, COUNT(*) AS row_count FROM bronze.lap_times;


        TRUNCATE TABLE bronze.drivers;
        SET @starttime = GETDATE();
        BULK INSERT bronze.drivers
        FROM 'C:\Users\deepak\OneDrive\Desktop\F1 PROJECT\f1\drivers_clean.csv'
        WITH (
            FIRSTROW        = 2,
            FIELDTERMINATOR = ',',
            ROWTERMINATOR   = '0x0a',
            TABLOCK
        );
        SET @endtime = GETDATE();
        PRINT  CAST(DATEDIFF(SECOND, @starttime, @endtime) AS VARCHAR) + 's';
        SELECT 'brz_drivers' AS table_name, COUNT(*) AS row_count FROM bronze.drivers;

        TRUNCATE TABLE bronze.circuits;
        SET @starttime = GETDATE();
        BULK INSERT bronze.circuits
        FROM 'C:\Users\deepak\OneDrive\Desktop\F1 PROJECT\f1\circuits_clean.csv'
        WITH (
            FIRSTROW        = 2,
            FIELDTERMINATOR = ',',
            ROWTERMINATOR   = '0x0a',
            TABLOCK
        );
        SET @endtime = GETDATE();
        PRINT  CAST(DATEDIFF(SECOND, @starttime, @endtime) AS VARCHAR) + 's';
        SELECT 'brz_circuits' AS table_name, COUNT(*) AS row_count FROM bronze.circuits;

    END TRY

    BEGIN CATCH
        PRINT 'ERROR: ' + ERROR_MESSAGE();
        PRINT 'Failed on line: ' + CAST(ERROR_LINE() AS VARCHAR);
    END CATCH

END;
